.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.btn {
    background-color: #333;
    color: white;
    border-radius: 5px;
    height: 40px;
    border: 0;
}

.btn:hover {
    cursor: pointer;
    background-color: #666;
}